*{
    margin: 0px;
    padding: 0px;
}

/* Navbar design starts here  */

.nav-container{
    background-color: rgb(48, 46, 46);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px;
}
.nav-logo{
    cursor: pointer;
}
.logo-img{
    width: 150px;
}
.nav-menus{
    color: white;
    list-style: none;
    display: flex;
}
.items{
    margin-right: 14px;
    padding-right: 7px;
    transition: all .3s;
    cursor: pointer;
    font-size: 18px;
}
.items:hover{
    text-decoration: underline;
}

/* navbar design ends here  */

/* banner section design starts here  */

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: url(images/background.png),linear-gradient(45deg,rgb(15, 14, 14),rgb(28, 27, 27));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-inline-start: 30px;
}
.banner-text h1{
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 8px;
}
.banner-img{
    width: 300px;
}
.banner-text p{
    font-size: 18px;
    margin: 10px 0px;
}
.btn{
    padding: 10px 20px ;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 8px;
    border: 1px solid red;
    transition: all .4s;
}

.banner-text button:hover{
    background:none;
    border: 1px solid white;
}

/* banner section design ends here  */

/* about us section starts here  */

.title{
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    margin-top: 15px;
}
.about-us-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.about-text h2{
    font-size: 32px;
    margin: 10px 0px;
}
.about-text p{
    font-size: 15px;
    margin: 5px 0px ;
}
/* .about-btn{
    background-color: gray;
    border: 1px solid gray;
} */


/* about us section ends here  */